@model VeterLabParcial.Models.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Cliente</h2>

<h3>¿Seguro de eliminar a este cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
